@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

div {
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(235, 235, 235);
  min-width: 320px;
  max-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  max-width: 1200px;
  margin: 0 auto;
}