@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

div {
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(235, 235, 235);
  min-width: 320px;
  height: 100vh; 
  height: calc(var(--vh, 1vh) * 95);
}

div#root {
  /* height: 100%; */
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  max-width: 960px;
  margin: 0 auto;
}